type hal_ledctrl_default, domain, halserverdomain;

init_daemon_domain(hal_ledctrl_default)

allow hal_ledctrl_default hidl_base_hwservice:hwservice_manager { add };
allow hal_ledctrl_default hal_ledctrl_hwservice:hwservice_manager { add };

allow hal_ledctrl_default sysfs_leds:dir { search };
allow hal_ledctrl_default sysfs:file { rw_file_perms };
